/* Beginning of styling for the footer section */
#footer {
  padding: 50px 90px;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footerBranding {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.footerIcon {
  cursor: pointer;
  padding: 15px;
  background-color: #ffff00;
}

.brandingP {
  font-size: .90rem;
  color: rgb(231, 231, 231);
}