@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'nav.css';
@import 'hero_comp.css';
@import 'value_comp.css';
@import 'learn_more_comp.css';
@import 'team_comp.css';
@import 'get_started_comp.css';
@import 'footer.css';

html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  background-image: url('/gradient-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 420vw;
}

.h1Head {
  font-size: 3.25rem;
}

.h2Head {
  font-size: 2rem;
}

.h3Head {
  font-size: 1.75rem;
  font-weight: 600;
}

.h4Head {
  font-size: 1.35rem;
}

.h5Head {
  font-size: 1.25rem;
  font-weight: 500;
}

.weight500 {
  font-weight: 500;
}

.primaryButton {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 17px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffff00;
  color: black;
}

.primaryButton:hover {
  background-color: beige;
  border: 1px solid beige;
  cursor: pointer;
}

.secondaryButton {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 17px 50px;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
}

.secondaryButton:hover {
  background-color: beige;
  border: 1px solid beige;
  cursor: pointer;
}

.centerPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingHighlight {
  color: #ffff00;
}

.blackHeading {
  color: black;
}

.shrinkHeadingPandM {
  margin: 0px;
  padding: 12px 0 0 0;
  padding-left: 0;
}

.spaceMonoFont {
  font-family: 'Space Mono', monospace;
}

.italicHeading {
  font-style: italic;
  font-weight: 600;
}