@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'home.css';
@import 'nav.css';

html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  background-image: url('/gradient-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 200vh cover;
}

.primaryButton {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 17px 50px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #efef5d;
  color: black;
}

.primaryButton:hover {
  background-color: white;
  border: 1px solid beige;
  cursor: pointer;
}

.secondaryButton {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 17px 50px;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
}

.secondaryButton:hover {
  background-color: beige;
  border: 1px solid beige;
  cursor: pointer;
}

.centerPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}