/* Beginning styling of the hero section of homepage */
#heroSection {
  margin: 55px 50px;
}

.heroHeadingWrapper {
  margin-top: 40px;
  max-width: 880px;
}

.heroHeading {
  display: inline;
  line-height: 50px;
}

.heroSpacing {
  margin-left: 15px;
}

.subheadingSpan {
  font-style: italic;
  font-weight: 500;
}

.heroButtonWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}


/* Beginning styling of the value section of homepage */
#valueSection {
  margin-top: 45px;
  padding: 40px 0;
  min-width: 100%;
  background-color: white;
  color: #000;
}

.valueHeadingWrappper {
  margin-bottom: 35px;
}

.removeHeadingPandM {
  margin: 0;
  padding: 0;
}

.valueGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 20px;
}

.valGridItem {
  max-width: 425px;
}

.valSubheading {
  color: rgb(167, 167, 167);
}

.secondaryHeadingHighlight {
  color: #10b981
}


/* Beginning of styling for the GetStarted section */
#getStartedSection {
  min-width: 100%;
  background-color: #f59e0b;
}


/* Beginning of styling for the footer section */
#footer {
  padding: 20px 50px;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerIcon {
  cursor: pointer;
}